body {
    font-family: Arial, sans-serif;
  background-image: url("damon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
}

.container {
    width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    margin-top: 15px;
    padding-left: 20px;
}

#mensagemErro {
    color: red;
    font-size: 14px;
}