body {
  font-family: Arial, sans-serif;
  background-image: url("damon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
}

.container {
  width: 400px;
  margin: 50px 20px 0 auto;
  color: rgb(66, 66, 66);
}

ul {
  margin-top: 10px;
  background-color: rgb(241, 227, 200);
  padding: 10px;
}

button {
  padding: 5px;
}

input {
  padding: 5px;
}

#mensagemErro {
  color: rgb(247, 118, 118);
}